<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Task Management Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="row">
        <div id="title">
            <h1>Task Management Application</h1>
        </div>
        <div class="ml-auto mt-auto mb-auto">
            <a th:href="@{/create-task}" role="button" class="btn btn-outline-dark">Create task</a>
        </div>
        <table id="allTasks" class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due dateTime</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="result" data-th-each="task : ${tasks}">
                    <td><a th:href="@{/tasks/{id}(id=${task.id})}">[[${task.id}]]</a></td>
                    <td>[[${task.title}]]</td>
                    <td>[[${task.description}]]</td>
                    <td>[[${task.dueDateTime}]]</td>
                    <td><i class="bi bi-trash"></i></td>
                </tr>
                </tbody>
            </table>
    </div>

</div>